.body {
  font-family: sans-serif;
}

.para {
  font-size: 1.6em;
}

.about-logo {
  height: 70%;
  width: 100%;
}

.dev-text {
  font-size: 1.2rem;
}

.about-para {
  text-align: justify;
}

.about-btn {
  cursor: pointer;
  background: transparent;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #f9ce80;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 2px;
  color: #454545;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  transition: 0.45s;
  transition-delay: 0s;
}
.about-btn:hover {
  transition-delay: 1.5s;
  color: #454545;
  box-shadow: 0 0 10px #f9ce80, 0 0 20px #f9ce80;
}

.about-btn span {
  position: relative;
  z-index: 100;
}

.about-btn::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #f9ce80;
  box-shadow: 5px -8px 0 #f9ce80, 5px 8px 0 #f9ce80;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.about-btn:hover::before {
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0 0 #f9ce80, 5px 0 0 #f9ce80;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

.about-btn::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #f9ce80;
  box-shadow: -5px -8px 0 #f9ce80, -5px 8px 0 #f9ce80;
  transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.about-btn:hover::after {
  width: 60%;
  height: 102%;
  right: -2px;
  box-shadow: -5px 0 0 #f9ce80, -5px 0 0 #f9ce80;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

@media only screen and (min-height: 750px) {
  .main-about {
    margin-top: 2vh;
  }
}
