.product-detail-container {
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12vh;
  margin-bottom: 10vh;
}

.product-name {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #454545;
}

.left-body {
  margin-right: 6vw;
}

.right-body {
  margin-right: 3vw;
}

.location {
  margin-top: 2vh;
  font-size: 1.2rem;
}

.img-book {
  border-radius: 8px;
  height: 50vh;
  width: 50vw;
}

.sports {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  border: 2px solid #f9ce80;
  border-radius: 8px;
  background-color: #f8f9f8;
}

.sports-name {
  display: flex;
  flex-direction: row;
  padding-left: 2vw;
  padding-bottom: 2vh;
}

.heading {
  padding-left: 2vw;
  padding-top: 1vh;
}

.name {
  padding: 8px 8px;
  margin: 1vh 1vh;
  font-size: 1.3rem;
  border-radius: 8px;
  color: #454545;
  border: 2px solid #ebf1f4;
  background-color: white;
}

.timing {
  font-size: 1.5rem;
  border: 2px solid #f9ce80;
  border-radius: 8px;
  background-color: #f8f9f8;
  font-family: cursive;
}

.time {
  padding-top: 5px;
  padding-left: 20px;
}

.map {
  height: fit-content;
  font-size: 1.5rem;
  margin-top: 3vh;
  border: 2px solid #f9ce80;
  border-radius: 8px;
  background-color: #f8f9f8;
  font-family: cursive;
}

.map-item {
  padding-top: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.gmap {
  height: 35vh;
}

.book-btn {
  margin-top: 2vh;
  background-color: #f9ce80;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  box-shadow: #d3ac64 0px 7px 0px 0px;
  background-color: #f9ce80;
  border-radius: 12px;
  overflow: hidden;
}

.book-btn:hover {
  color: #454545;
  opacity: 0.8;
}

@media only screen and (max-width: 630px) {
  .product-detail-container {
    display: flex;
    flex-direction: column;
  }
  .right-body {
    margin-top: 2.5vh;
    width: 89vw;
    margin-left: 2vw;
  }
  .left-body {
    margin: 0s;
  }
  .sports-name {
    flex-direction: column;
  }
  .img-book {
    width: 90vw;
    height: 40vh;
  }
  .product-name {
    font-size: 2rem;
  }
}
