.book-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #f9ce80;
  border-radius: 8px;
  padding: 2vh 2vh;
  background-color: #f3fcfb;
  font-family: sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}
.search-header {
  font-family: cursive;
}
.city-form {
  margin-top: 2vh;
}
.city-box {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  align-items: center;
  font-size: 1rem;
}
.city {
  display: flex;
  flex-direction: row;
}
.city-name {
  margin: 1vh 1vh;
  border: 2px solid #ebf1f4;
  background-color: white;
  padding: 1vh 2vh;
  border-radius: 6px;
  font-family: cursive;
}
.intro {
  color: #9bb8c0;
}
.input {
  width: 20vw;
}
